.hidden{
    display: none;
}

.img-1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img-2{
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.loader{
     position:absolute;
   top:35%;
   left:45%;

}